<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>461100876083-8abeogdtpa9mi0j1tui0r8g543b7v5o9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.461100876083-8abeogdtpa9mi0j1tui0r8g543b7v5o9</string>
	<key>API_KEY</key>
	<string>AIzaSyBb_G9yFHVIz1arCiWb4L8-MKqzqVpYIaA</string>
	<key>GCM_SENDER_ID</key>
	<string>461100876083</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.handsome.immersivetheater</string>
	<key>PROJECT_ID</key>
	<string>immersive-theater-37c46</string>
	<key>STORAGE_BUCKET</key>
	<string>immersive-theater-37c46.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:461100876083:ios:9f531c8e2adbfead9abe46</string>
</dict>
</plist>